body{
    height: 100vh;
}
/* Hero image */
.hero-image{
    display: flex;
    justify-content: center;
    color: #fff;
    align-items: center;
    flex-direction: column;
}
.hero-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://prabhat-mishra-qtrip.netlify.app/assets/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 45vh;
    background-position: center;

}
.hero-image h1{
    font-size: 1.5rem;
    font-weight: 500;
}
.hero-image p{
    font-size: 24px;
    font-weight: 300;
}

.search-bar{
    width: 80%;
    height: 3rem;
    border-radius:12px;
    border: 1px solid #fff;
    padding-left:20px ;
}

/* cards  */
.tile-list{
    margin-top: 20px;
}

.parent-body{
    display: flex;
    justify-content: space-around;
}
.tiles{
    width: 18rem;
    height: 22rem;
    border-radius: 12px;
    position: relative;
    overflow: hidden;
}



.tiles img{
    width: 18rem;
    height: 22rem;
    transition: all .2s ease-in-out;
}

.tiles img:hover{
    transform: scale(1.3);
    filter: brightness(50%);
}

.tile-body{
    position: absolute;
    left: 2.5rem;
    bottom: 0px;
    color: #fff;
}
/* footer */
.footer{
    margin-top:40px ;
    background-color: #fff;
    color: #999;
    vertical-align: bottom;
}